{% extends "base.html" %}
{% block title %} Mes Vols {% endblock %}
{% block content %}
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>N° vol</th>
      <th>Date</th>
      <th>Site</th>
      <th>Durée</th>
      <th>Dénivelé</th>
      <th>Gain</th>
      <th>Aile</th>
      <th>Remarques</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>1</td>
      <td>29 juin 2011</td>
      <td>Saint Hilaire du Touvet</td>
      <td>0:15</td>
      <td>700</td>
      <td>0</td>
      <td>Team 5 Green B</td>
      <td></td>
    </tr>
    </tbody>
  </table>
{% endblock %}